<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <!-- Global navigation (logged in) from chart -->
          <li><a href="{% url 'task_list' %}">Task List</a></li>
          <li><a href="{% url 'user_detail' %}">User detail</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <!-- Global navigation (logged out) from chart -->
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">User Registration</a></li>
        {% endif %}
      </ul>
    </nav>
    
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
